<li>
    <%= user.username %> (<%= user.role %>)
    <a href="/admin/promote?user=<%= user.username %>">Promote to Admin</a>
    <a href="/admin/demote?user=<%= user.username %>">Demote to User</a>
</li>
